<div id="tt-title">
	<ul>
		<li>
			<a href="#/shouye"><span class="shouye" ng-class="{active:title=='shouye'}" ng-click="title='shouye'"></span></a>
		</li>
		<li>
			<a href="#/shipin" title="shipin"><span class="shipin" ng-class="{active:title=='shipin'}" ng-click="title='shipin'"></span></a>
		</li>
		<li>
			<a href="#/huati" title="huati"><span class="huati" ng-class="{active:title=='huati'}" ng-click="title='huati'"></span></a>
		</li>
		<li>
			<a href="#/wode" title="wode"><span class="wode" ng-class="{active:title=='wode'}" ng-click="title='wode'"></span></a>
		</li>
	</ul>
</div>