<div id="my">
	<div class="self">
		<span class="touxiang"></span>
		<span class="name">一切简单就好</span>
	</div>
	<div class="help">
		<div class="col">
			<span class="iconfont icon-shoucang"></span>
			<span class="text">收藏</span>
		</div>
		<div class="col">
			<span class="iconfont icon-yejian"></span>
			<span class="text">夜间</span>
		</div>
		<div class="col">
			<span class="iconfont icon-shezhi"></span>
			<span class="text">设置</span>
		</div>
	</div>
	<span class="fenjie"></span>
	<div class="item dongtai">
		<span class="text">好友动态</span>
		<span class="iconfont icon-youjian"></span>
	</div>
	<span class="fenjie"></span>
	<ul>
		<li class="item">
			<span class="text">通知</span>
		    <span class="iconfont icon-youjian"></span>
		</li>
		<li class="item">
			<span class="text">离线</span>
		    <span class="iconfont icon-youjian"></span>
		</li>
		<li class="item">
			<span class="text">活动</span>
		    <span class="iconfont icon-youjian"></span>
		</li>
		<li class="item">
			<span class="text">商城</span>
		    <span class="iconfont icon-youjian"></span>
		</li>
		<li class="item">
			<span class="text">我要爆料</span>
		    <span class="iconfont icon-youjian"></span>
		</li>
		<li class="item">
			<span class="text">反馈</span>
		    <span class="iconfont icon-youjian"></span>
		</li>
	</ul>
</div>