<div id="ht-tuijian">
	<div id="ht-nav">
		<ul>
			<li class="iconfont icon-xiaoxi"></li>
			<li class="title">推荐</li>
			<li class="title">关注</li>
			<li class="iconfont icon-search"></li>
		</ul>
	</div>
	<div class="middle">
		<div class="lunbo">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo1.png" alt="">
							<span>双色球</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo2.png" alt="">
							<span>iphone</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo3.png" alt="">
							<span>奇石</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo4.png" alt="">
							<span>家里老物件</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo5.png" alt="">
							<span>动物世界</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo6.png" alt="">
							<span>紫砂</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo7.png" alt="">
							<span>iphone6s</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo8.png" alt="">
							<span>宋慧乔</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo9.png" alt="">
							<span>装修那些事</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo17.png" alt="">
							<span>翡翠</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo11.png" alt="">
							<span>星空大道</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo12.png" alt="">
							<span>经典台词</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo13.png" alt="">
							<span>angelababy</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo14.png" alt="">
							<span>吊兰</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo15.png" alt="">
							<span>郑州</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#">
							<img src="../../image/huati/lunbo16.png" alt="">
							<span>奶粉</span>
						</a>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<span class="fenjie"></span>
		<div class="xinwen">
			<div class="title">
				<a href="#">#爆料</a>
				在中央大街出现了这样感动的一幕，雨中，城市的守卫者依然坚守岗位，城市的清洁者拿出雨伞，为这位年轻的战士遮雨。
			</div>
			<div class="center">
				<img src="../../image/huati/xinwen1.png" alt="">
				<img src="../../image/huati/xinwen2.png" alt="">
			</div>
			<div class="bottom">
				<div class="zuo">
					<span class="from-name">谁记年少春衫薄</span>
					<span>11小时前</span>
				</div>
				<div class="you">
					<span class="zanimg"><img src="../../image/huati/zan.png" alt=""></span>
					<span class="zan">1088</span>
					<span class="pingimg"><img src="../../image/huati/ping.png" alt=""></span>
					<span class="ping">387</span>
				</div>				
			</div>
		</div>
		<span class="fenjie"></span>
		<div class="xinwen">
			<div class="title">
				<a href="#">#彩票</a>
				又差一点忘记晒票了。
			</div>
			<div class="center">
				<img src="../../image/huati/xinwen3.png" alt="">
				<img src="../../image/huati/xinwen4.png" alt="">
				<img src="../../image/huati/xinwen5.png" alt="">
			</div>
			<div class="bottom">
				<div class="zuo">
					<span class="from-name">普洱好运自然来</span>
					<span>13小时前</span>
				</div>
				<div class="you">
					<span class="zanimg"><img src="../../image/huati/zan.png" alt=""></span>
					<span class="zan">77</span>
					<span class="pingimg"><img src="../../image/huati/ping.png" alt=""></span>
					<span class="ping">121</span>
				</div>				
			</div>
		</div>
		<span class="fenjie"></span>
		<div class="xinwen">
			<div class="title">
				<a href="#">#朝鲜</a>
				我像朝鲜人吗？都说我是朝鲜人？
			</div>
			<div class="center chaoxian">
				<img src="../../image/huati/xinwen6.png" alt="">
			</div>
			<div class="bottom">
				<div class="zuo">
					<span class="from-name">加我微号kka4888</span>
					<span>06-09 12:56</span>
				</div>
				<div class="you">
					<span class="zanimg"><img src="../../image/huati/zan.png" alt=""></span>
					<span class="zan">784</span>
					<span class="pingimg"><img src="../../image/huati/ping.png" alt=""></span>
					<span class="ping">549</span>
				</div>				
			</div>
		</div>
	</div>
	
</div>